html {
  font-size: 10px;
}

body {
  font-family: "Roboto","Noto Sans KR";
  font-size: 1.6rem;
  background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333;
  overflow: hidden;
}

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#header #logo a {
  display: block;
  line-height: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  text-transform: uppercase;
}

#header #logo a span {
  font-weight: 100;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#footer .copyright {
  background: #111;
  padding: 10px 30px;
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 0.05em;
}

#footer .copyright span {
  font-weight: 100;
}
