#main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .txtBox .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .txtBox .list li {
  padding: 10px 30px;
  background-color: #e75e03;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 100;
  overflow: hidden;
  color: #fff;
  margin: 2px;
  text-shadow: 1px 1px 0 #b54a02,2px 2px 0 #b54a02,3px 3px 0 #b54a02,4px 4px 0 #b54a02,5px 5px 0 #b54a02,6px 6px 0 #b54a02,7px 7px 0 #b54a02,8px 8px 0 #b54a02,9px 9px 0 #b54a02,10px 10px 0 #b54a02,11px 11px 0 #b54a02,12px 12px 0 #b54a02,13px 13px 0 #b54a02,14px 14px 0 #b54a02,15px 15px 0 #b54a02,16px 16px 0 #b54a02,17px 17px 0 #b54a02,18px 18px 0 #b54a02,19px 19px 0 #b54a02,20px 20px 0 #b54a02,21px 21px 0 #b54a02,22px 22px 0 #b54a02,23px 23px 0 #b54a02,24px 24px 0 #b54a02,25px 25px 0 #b54a02,26px 26px 0 #b54a02,27px 27px 0 #b54a02,28px 28px 0 #b54a02,30px 30px 0 #b54a02;;
}

#main .txtBox .list li.on {
  background-color: #666;
  opacity: 0.5;
  text-shadow: 1px 1px 0 #4d4d4d,2px 2px 0 #4d4d4d,3px 3px 0 #4d4d4d,4px 4px 0 #4d4d4d,5px 5px 0 #4d4d4d,6px 6px 0 #4d4d4d,7px 7px 0 #4d4d4d,8px 8px 0 #4d4d4d,9px 9px 0 #4d4d4d,10px 10px 0 #4d4d4d,11px 11px 0 #4d4d4d,12px 12px 0 #4d4d4d,13px 13px 0 #4d4d4d,14px 14px 0 #4d4d4d,15px 15px 0 #4d4d4d,16px 16px 0 #4d4d4d,17px 17px 0 #4d4d4d,18px 18px 0 #4d4d4d,19px 19px 0 #4d4d4d,20px 20px 0 #4d4d4d,21px 21px 0 #4d4d4d,22px 22px 0 #4d4d4d,23px 23px 0 #4d4d4d,24px 24px 0 #4d4d4d,25px 25px 0 #4d4d4d,26px 26px 0 #4d4d4d,27px 27px 0 #4d4d4d,28px 28px 0 #4d4d4d,30px 30px 0 #4d4d4d;;
}

#input {
  position: fixed;
  width: 100%;
  bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#input .inputBox {
  background-color: #fff;
  border-radius: 100px;
  padding: 5px 30px;
}

#input .inputBox input {
  height: 40px;
  width: 500px;
  border: none;
  font-size: 18px;
}
