#main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .carousel {
  width: 50px;
  height: 50x;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}

#main .carousel .list {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#main .carousel .list li {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
}

#input {
  position: fixed;
  width: 100%;
  bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#input .inputBox {
  background-color: #fff;
  border-radius: 100px;
  padding: 5px 30px;
}

#input .inputBox input {
  height: 40px;
  width: 500px;
  border: none;
  font-size: 18px;
}
